<h1 class="text">Services in Angular</h1>
<table class="text1" border="1px" >
  <thead class="text2">
    <tr>
    <th>Id</th>
    <th>Name</th>
    <th>email</th>
    <th>street</th>
    <th>company</th>
  </tr>
</thead>
  <tr *ngFor="let user of users">
    <td> {{ user.id }}</td>
    <td>{{ user.name}}</td>
    <td> {{ user.email }}</td>
    <td> {{ user.address.street}}</td>
    <td> {{ user.company.name}}</td>
  </tr>
  
</table> 
<!-- <div class="custom">
<label for="numbers">Accepting Numbers Only:</label><br>
<input type="text">
<h1> hello </h1>
</div> -->
<!-- <p appCustomclass>If you c.</p> -->
<h1 appCustomclass> hello world </h1>
